@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: "Catamaran", sans-serif;
	font-size: 26px;
}

.bork {
	position: absolute;
	bottom: 8px;
	left: 24px;
	width: 80px;
}

.fancy-underline::after {
	content: "";
	display: block;
	height: 8px;
	background-color: #fece2f;
	width: 105%;
	margin-top: -18px;
	position: relative;
	z-index: -1;
}

.doggo {
	position: absolute;
	top: 8px;
	right: 8px;
	height: 100px;
}

.blob-btn {
	width: 90px;
}

.blob-btn-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.primary-btn {
	border: 3px solid #191919;
	box-shadow: 0px 3px 0px #191919;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal {
	border: 3px solid #191919;
	width: calc(100vw - 32px);
}

.rounded-tops {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.w-48p {
	width: 48%;
}

.border-dark {
	border: 3px solid #191919;
}

.custom-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 50%;
}
